 <div class="bg">
    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
                <div class="col" id="navbarText">
                    <ul class="nav row nav-pills ">
                       
                        <li class="col-sm-4 nav-item text-center">
                            <a class="nav-link btn-outline-secondary" href="#"><b>Home</b> </a>
                        </li>
                        
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                              SignUp
                            </button>
                            <div class="dropdown-menu">
                                <a class="nav-link btn-outline-secondary"
                               class="dropdown-item" [routerLink]="['/register-buyer']">SignUpBuyer</a>
                              <a class="dropdown-item" href="register-seller">SignUpSeller</a>
                              
                            </div>
                          </div>
    
                        <li class="col-sm-2 nav-item text-center">
                            <a class="nav-link btn-outline-secondary" href="#"><b>Login</b></a>
                        </li>
                       
                        <li class="col-sm-2 nav-item text-center">
                           <a class="nav-link btn-outline-secondary" href="contactus"><b>Contact</b></a>
                        </li>
    
                    </ul>
                    <router-outlet></router-outlet>
                   
                    </div>
                    </div>
                    
                </nav>   </div>       
    
     <div class="container">
                    <div class="row">
                        <nav class="col-md-2 d-none d-md-block sidebar">
                            <div class="sidebar-sticky">                
                                <ul class="nav flex-column">
     
                                <li class="nav-item my-2 text-center">
                                    <a href="#" class="nav-link btn-outline-secondary"><b>Home</b></a>
                                
                                 
                                    
                                
                                 <li class="nav-item my-2 text-center"> 
                                     <a href="#" class="nav-link btn-outline-secondary"><b>Login</b></a> 
                                
                                <li class="nav-item my-2 text-center"> 
                                     <a href="#" class="nav-link btn-outline-secondary"><b>Contact</b> </a>
                                 </li>
                            </ul>                         
            
                    
                    </div> 
                    </nav>
                    </div>  
                    </div> 
                <br>  
<div class="image">
<div class="container">
    <div class="card bg-light mb-3">
        <div class="bg2">
        <h5 class="card-header text-center">SignupSeller</h5>
        <div class="card-body">
            <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
                
                     
                    <div class="form-group col-md-5 offset-4">
                        <label for="Username">Username</label>
                        <input type="text" formControlName="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Username.errors }" />
                        <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                            <div *ngIf="f.Username.errors.required">Username is required</div>
                            <div *ngIf="f.Username.errors.pattern">username must contain alphabets</div>
                        </div>
                    </div>
                
                    <div class="form-group col-md-5 offset-4">
                        <label for="Password">Password</label>
                        <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                            <div *ngIf="f.Password.errors.required">Password is required</div>
                            <div *ngIf="f.Password.errors.pattern">Pasword must contain[a-z]alphabets and 1 special chracter</div>
                        </div>
                    </div>
    
                <div class="form-group col-md-5 offset-4 ">
                    <label>Email</label>
                    <input type="email" formControlName="Emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Emailid.errors }" />
                    <div *ngIf="submitted && f.Emailid.errors" class="invalid-feedback">
                        <div *ngIf="f.Emailid.errors.required">Email is required</div>
                        <div *ngIf="f.Emailid.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group col-md-5 offset-4 ">
                    <label>Website</label>
                    <input type="text" formControlName="Website" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Website.errors }" />
                    <div *ngIf="submitted && f.Website.errors" class="invalid-feedback">
                        <div *ngIf="f.Website.errors.required">website is required</div>
                        
                    </div>
                </div>
                
                <div class="form-group col-md-5 offset-4">
                    <label>Mobile</label>
                    <input type="text" formControlName="ContactNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ContactNumber.errors }" />
                    <div *ngIf="submitted && f.ContactNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.ContactNumber.errors.required">Mobile no is required</div>
                        <div *ngIf="f.ContactNumber.errors.pattern">Mobile no Must be Valid IT SHOULD START WITH[6-9]and followed  by 9 digits</div>
                    </div>
                </div>
                <div class="form-group col-md-5 offset-4 ">
                    <label>GSTIN</label>
                    <input type="text" formControlName="Gstin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gstin.errors }" />
                    <div *ngIf="submitted && f.Gstin.errors" class="invalid-feedback">
                        <div *ngIf="f.Gstin.errors.required">gstin is required</div>
                        
                    </div>
                </div>
                <div class="form-group col-md-5 offset-4 ">
                    <label>Postal Address</label>
                    <textarea type="Text" formControlName="PostalAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PostalAddress.errors }"></textarea>
                    <div *ngIf="submitted && f.PostalAddress.errors" class="invalid-feedback">
                        <div *ngIf="f.PostalAddress.errors.required">postal address is required</div>
                       
                    </div>
                </div>
                
                <div class="form-group col-md-5 offset-4 ">
                    <label>AboutCompany</label>
                    <textarea type="Text" formControlName="BriefAboutcompany" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.BriefAboutcompany.errors }"></textarea>
                    <div *ngIf="submitted && f.BriefAboutcompany.errors" class="invalid-feedback">
                        <div *ngIf="f.BriefAboutcompany.errors.required">About company  is required</div>  
                    </div>
                </div>
                <div class="form-group col-md-5 offset-4 ">
                    <label>Company Name</label>
                    <input type="text" formControlName="Companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Companyname.errors }" />
                    <div *ngIf="submitted && f.Companyname.errors" class="invalid-feedback">
                        <div *ngIf="f.Companyname.errors.required">comapany name is required</div>
                        <div *ngIf="f.Companyname.errors.pattern">company name must contain alphabets only in between [a-z]</div>
                       
                    </div>
                </div>
               <div class="form-group form-check col-md-5 offset-5">
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                    <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                </div>
            
            <div class="text-center">
                <button class="btn btn-primary mr-1">Signup</button>
                <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
            </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    
</div>


