<div class="container">
    <div class="row offset-2">
      <div class="card-deck ">
          <div class="card text-center" *ngFor="let item of list" style="width: 18rem;" >
              <h5 class="card-title">{{item.itemName}}</h5>
              <div class="card-body">
                <!-- ItemId:{{item.iid}}<br/>
                CategoryId:{{item.cid}}<br/>
                SubCategoryId:{{item.scid}}<br/>
                SellerId: {{item.sid}}<br/> -->
                Price: {{item.price}}<br/>
                Description:{{item.description}}<br/>
                Stock:{{item.stockNumber}}<br/>
                Remarks:{{item.remarks}} 
            </div>
            <div class="card-footer">
              <div class="text-center">
                <!-- <button class="btn btn-success mr-1" >Buy</button> -->
                <button class="btn btn-outline-info" >AddToCart</button>
            </div>
            </div>
          </div>
