
        <div class="container">
        <div class="card bg-light mb-3" >
            <h5 class="card-header text-center">Add Item</h5>
            <div class="bg2">
            <div class="card-body">
                <form [formGroup]="AddItemForm" (ngSubmit)="onSubmit()">  
                    <div class="form-group col-md-5 offset-4 ">
                        <label>SellerId</label>
                        <input type="text" formControlName="sellerid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sellerid.errors }" />
                        <div *ngIf="submitted && f.sellerid.errors" class="invalid-feedback">
                            <div *ngIf="f.sellerid.errors.required">SellerId is required</div>
                            
                        </div>
                    </div>
                        <div class="form-group col-md-5 offset-4">
                            <label>CategoryName:</label>
                            <select id="s1" formControlName="categoryid" (change)="onGetSubCategory()" class="form-control  input-line full-width" >
                              <option *ngFor="let cat of categorylist" value={{cat.categoryId}}>{{cat.categoryName}}</option>
                              </select>
                            <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
                              <div *ngIf="f.categoryid.errors.required">categoryname is required</div>
                            </div>
                          </div>
                          <div class="form-group col-md-5 offset-4">
                            <label>SubcategoryName:</label>
                            <select id="s2" formControlName="subcategoryid" class="form-control  input-line full-width" >
                              <option *ngFor="let cat of subcategorylist" value={{cat.subcategoryId}}>{{cat.subcategoryName}}</option>
                              </select>
                            <div *ngIf="submitted && f.subcategoryid.errors" class="invalid-feedback">
                              <div *ngIf="f.subcategoryid.errors.required">Subcategoryname is required</div>
                            </div>
                          </div>         
         
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Price</label>
                        <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">price is required</div>
                        </div>
                    </div>   
                    <div class="form-group col-md-5 offset-4">
                        <label>Item Name</label>
                        <input type="text" formControlName="itemname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }" />
                        <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
                            <div *ngIf="f.itemname.errors.required"> Item Name is required</div>
                            <div *ngIf="f.itemname.errors.pattern">Item Name Must be Valid</div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-5 offset-4">
                        <label>Description</label>
                        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                            <div *ngIf="f.description.errors.pattern">Description Must be Valid Format</div>
                        </div>
                    </div> 
                    <div class="form-group col-md-5 offset-4">
                        <label>Stock Number</label>
                        <input type="number" formControlName="stocknumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stocknumber.errors }" />
                        <div *ngIf="submitted && f.stocknumber.errors" class="invalid-feedback">
                        <div *ngIf="f.stocknumber.errors.required">Stock Number is required</div> 
                        </div>        
                    </div>

                    <div class="form-group col-md-5 offset-4">
                        <label>Remarks</label>
                        <input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
                        <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                            <div *ngIf="f.remarks.errors.required">Remarks is required</div>
                            <div *ngIf="f.remarks.errors.pattern">Remarks Must be Valid Format</div>
                        </div>
                    </div> 
                     <div class="form-group col-md-5 offset-4">
                   <input type="file" formControlName="photo" name="photo"(change)="fileEvent($event)"/>
      
                        </div> 

                   
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="Add()">Add</button>
                    <button class="btn btn-danger" type="reset" (click)="onReset()">Cancel</button>
                </div>
                </form>
            </div>
        </div>
        </div>
        </div>
  
