<div class="image">
<div class="container">
    <div class="card bg-light mb-3" bg-dark> 
       
        <h5 class="card-header text-center">Contact Us</h5>
         <div class="card-body"> 
            <div class="form-group col-md-5 offset-4">
    
                <label for="name" class="">Your name</label>
                        <input type="text" id="name" name="name" class="form-control">
                        
                    </div>
                
                
                <div class="form-group col-md-5 offset-4">
               
                <label for="email" class="">Your email</label>
                        <input type="text" id="email" name="email" class="form-control">
                        

            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        <label for="subject" class="">Subject</label>
                        <input type="text" id="subject" name="subject" class="form-control">
                       
                    </div>
                </div>
            </div>
           
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12">

                    <div class="md-form">
                        <label for="Message" class="">Message</label>
                        <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                        
                    </div>

                </div>
            </div>
            <!--Grid row-->

        <!-- </form> -->
<div class="row">
        <div class="text-center text-md-left">
            <!-- <a class="btn btn-primary" >Send</a> -->
            <button (click)="send()" class="btn btn-primary">Send</button>
        </div>
        <div class="status"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    
    <!--Grid column-->




<!--Section: Contact v.2-->