<form [formGroup]="Buyerform" >
    <div class="container register-form" id="form" style="float: right;margin-top:90px;margin-right:130px;">
        <div class="Buyerform">
            
                <div class="card">
             <div clasd="col-md-6 offset-4" > <h2>SignUp</h2></div>
            
            
            
                
                    <div class="col-md-6 offset-4">
                        <div class="form-group">
    <label>BuyerId</label>
    <input type="text" formControlName="buyerid" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.buyerid.errors }" />
    <div *ngIf="submitted && f.buyerid.errors" class="invalid-feedback">
    <div *ngIf="f.buyerid.errors.required">id is required</div>
    <div *ngIf="f.buyerid.errors.pattern">Enter valid id ex:B445</div>
    </div>
    </div>
    <div class="form-group">
        <label>username</label>
    <input type="text" formControlName="username" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
    <div *ngIf="f.username.errors.required">username is required</div>
    <div *ngIf="f.username.errors.pattern">Enter only Alphabets</div>
    </div>
    
    </div>
    </div>
    <div class="col-md-6 offset-4">
    <div class="form-group">
    <label>Password</label>
    <input type="password" formControlName="password" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">password is required</div>
    <div *ngIf="f.password.errors.pattern">password must be valid</div>
    </div>
    </div>
    </div>
    <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>Emailid</label>
    <input type="email" formControlName="emailid" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }"/>
    <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
    <div *ngIf="f.emailid.errors.required">Emailid is required</div>
    <!-- <div *ngIf="f.Emailid.errors.pattern"></div> -->
    </div>
    </div>
    
    </div>
    <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>mobilenumber</label>
    <input type="text" formControlName="mobileno" class="form-control" value="" [ngClass]="{ 'is-invalid': submitted && f.mobileno.errors }"/>
    <div *ngIf="submitted && f.Mobileno.errors" class="invalid-feedback">
    <div *ngIf="f.mobileno.errors.required">mobilenumber is required</div>
    <div *ngIf="f.mobileno.errors.pattern">mobilenumber must be valid</div>
    </div>
    </div>
    
    </div>
    <div class="col-md-6 offset-4">
    <div class="form-group">
    <input type="datetime" formControlName="createdatetime" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.createddatetime.errors }"/>
    <div *ngIf="submitted && f.Createddatetime.errors" class="invalid-feedback">
    <div *ngIf="f.createddatetime.errors.required">datetime  is required</div>
    <div *ngIf="f.createddatetime.errors.pattern">datetime must be valid</div>
    </div>
    </div>
    
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="ViewProfile()" data-target="#exampleModalCenter">EditProfile</button>
                        
    </div>
            <!-- <button class="btn btn-primary mr-1"  (click)="Edit()">Edit</button> -->
            </div>
    </div>
    </div>
    
    
    
</form>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="Buyerform"> 
    <div class="form-group">
    <label>UserName</label>
    <input type="text" formControlName="username"  class="form-control"/>
    </div>
   
    <div class="form-group">
    <label>Password</label>
    <input type="text" formControlName="password"  class="form-control"/>
    </div>
    <div class="form-group">
    <label>Mobile</label>
    <input type="text" formControlName="mobileno"  class="form-control"/>
    </div>
    <div class="form-group">
    <label>EmailID</label>
    <input type="text" formControlName="emailid"  class="form-control"/>
    </div>
    <!-- <div class="form-group">
    <label>CompanyName</label>
    <input type="text" formControlName="companyname" class="form-control"/>
    </div> -->
   
    </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" (click)="Edit()">Save changes</button>
    </div>
    </div>
    </div>
    </div> 

    