<!-- <p>view-profile works!</p>
<p>viewsellerprofile works!</p>
<div class ="bg-img">
    <div class="container">
    <div class="card bg-light mb-3" >
        <h5 class="card-header text-center">My Profile</h5>
        <div class="card-body">
            <form [formGroup]="viewsellerprofileForm" (ngSubmit)="onSubmit()">
                
                    <div class="form-group col-md-5 offset-4">
                        <label>SellerID</label>
                        <input type="number" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sid.errors }" />
                        <div *ngIf="submitted && f.sid.errors" class="invalid-feedback">
                        <div *ngIf="f.id.errors.required">Seller id is required</div> 
                        </div>        
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">View</button>
                        <button class="btn btn-danger" type="reset" (click)="onReset()">Cancel</button>
                    </div>
                    </form>
                    </div>
                    </div>
                    </div>

<router-outlet></router-outlet> -->

<!-- <div class="image">
    <div class="container">
        <div class="card bg-light mb-3">
            <div class="bg2">
            <h5 class="card-header text-center">ViewProfile</h5>
            <div class="card-body">
                <form [formGroup]="sellerform" >
                    <div class="col-md-6 login-form-2">
                        <h3>My Profile</h3>
                    </div>
                        <div class="form-group">
                        <label>sellerid</label>
                        <input type="text" formControlName="sellerid" class="form-control"  />
                        
                        </div>
                        <div class="form-group">
                       <label>username</label>
                        <input type="text" formControlName="Username"  class="form-control" />
                        
                        </div>
                        <div class="form-group">
                            <label>Companyname</label>
                        <input type="text" formControlName="Companyname" class="form-control"  />
                        
                        </div>
                        <div class="form-group">
                            <label>AboutCompany</label>
                        <input type="text" formControlName="BriefAboutcompany" class="form-control" />
                        
                        </div>
                        <div class="form-group">
                            <label>PostalAddress</label>
                        <input type="text" formControlName="PostalAddress" class="form-control"  />
                        
                        
                        </div>
                        
                        
                        <div class="form-group">
                            <label>website</label>
                        <input type="text" formControlName="Website" class="form-control"  />
                        
                        </div>
                        <div class="form-group">
                        <label>password</label>
                        <input type="password" formControlName="Password"  class="form-control" />
                        
                        </div>
                        <div class="form-group">
                        <label>emailid</label>
                        <input type="text" formControlName="Emailid"  class="form-control" />
                        
                        </div>
                        <div class="form-group">
                        <label>Gstin</label>
                        <input type="text" formControlName="Gstin" class="form-control" />
                        
                        </div>
                        <div class="form-group">
                        <label>mobile</label>
                        <input type="text" formControlName="ContactNumber"class="form-control" />
                        
                        </div>
                        
                        <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="myprofile()" data-target="#exampleModalCenter">EditProfile</button>
                        
                        </div>
                        </form>
                        </div> 
                        
                        </div>
                
                        </div>
                        </div>
</div>
                       
                        
                        
                       <!-- Button trigger modal -->
                       
                        
                        <!-- Modal -->
                        <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <form [formGroup]="Form"> 
                        <div class="form-group">
                        <label>UserName</label>
                        <input type="text" formControlName="username"  class="form-control"/>
                        </div>
                       
                        <div class="form-group">
                        <label>Password</label>
                        <input type="text" formControlName="password"  class="form-control"/>
                        </div>
                        <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" formControlName="mobile"  class="form-control"/>
                        </div>
                        <div class="form-group">
                        <label>EmailID</label>
                        <input type="text" formControlName="emailid"  class="form-control"/>
                        </div>
                        <div class="form-group">
                        <label>CompanyName</label>
                        <input type="text" formControlName="companyname" class="form-control"/>
                        </div>
                        <div class="form-group">
                        <label>Address</label>
                        <input type="text" formControlName="postaladdress"  class="form-control"/>
                        </div>
                        </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="Edit()">Save changes</button>
                        </div>
                        </div>
                        </div>
                        </div>   -->

                        <!-- <div class="form-group col-md-5 offset-4">
                            <label for="Username">Username</label>
                            <input type="text" formControlName="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Username.errors }" />
                            <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                                <div *ngIf="f.Username.errors.required">Username is required</div>
                                <div *ngIf="f.Username.errors.pattern">username must contain alphabets</div>
                            </div>
                        </div>
                    
                        <div class="form-group col-md-5 offset-4">
                            <label for="Password">Password</label>
                            <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                            <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                                <div *ngIf="f.Password.errors.required">Password is required</div>
                                <div *ngIf="f.Password.errors.pattern">Pasword must contain[a-z]alphabets and 1 special chracter</div>
                            </div>
                        </div>
        
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Email</label>
                        <input type="email" formControlName="Emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Emailid.errors }" />
                        <div *ngIf="submitted && f.Emailid.errors" class="invalid-feedback">
                            <div *ngIf="f.Emailid.errors.required">Email is required</div>
                            <div *ngIf="f.Emailid.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Website</label>
                        <input type="text" formControlName="Website" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Website.errors }" />
                        <div *ngIf="submitted && f.Website.errors" class="invalid-feedback">
                            <div *ngIf="f.Website.errors.required">website is required</div>
                            
                        </div>
                    </div>
                    
                    <div class="form-group col-md-5 offset-4">
                        <label>Mobile</label>
                        <input type="text" formControlName="ContactNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ContactNumber.errors }" />
                        <div *ngIf="submitted && f.ContactNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.ContactNumber.errors.required">Mobile no is required</div>
                            <div *ngIf="f.ContactNumber.errors.pattern">Mobile no Must be Valid IT SHOULD START WITH[6-9]and followed  by 9 digits</div>
                        </div>
                    </div>
                    <div class="form-group col-md-5 offset-4 ">
                        <label>GSTIN</label>
                        <input type="text" formControlName="Gstin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gstin.errors }" />
                        <div *ngIf="submitted && f.Gstin.errors" class="invalid-feedback">
                            <div *ngIf="f.Gstin.errors.required">gstin is required</div>
                            
                        </div>
                    </div>
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Postal Address</label>
                        <textarea type="Text" formControlName="PostalAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PostalAddress.errors }"></textarea>
                        <div *ngIf="submitted && f.PostalAddress.errors" class="invalid-feedback">
                            <div *ngIf="f.PostalAddress.errors.required">postal address is required</div>
                           
                        </div>
                    </div>
                    
                    <div class="form-group col-md-5 offset-4 ">
                        <label>AboutCompany</label>
                        <textarea type="Text" formControlName="BriefAboutcompany" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.BriefAboutcompany.errors }"></textarea>
                        <div *ngIf="submitted && f.BriefAboutcompany.errors" class="invalid-feedback">
                            <div *ngIf="f.BriefAboutcompany.errors.required">About company  is required</div>  
                        </div>
                    </div>
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Company Name</label>
                        <input type="text" formControlName="Companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Companyname.errors }" />
                        <div *ngIf="submitted && f.Companyname.errors" class="invalid-feedback">
                            <div *ngIf="f.Companyname.errors.required">comapany name is required</div>
                            <div *ngIf="f.Companyname.errors.pattern">company name must contain alphabets only in between [a-z]</div>
                           
                        </div>
                    </div>
                   <div class="form-group form-check col-md-5 offset-5">
                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                    </div>
                
                <div class="text-center"> 
                    <button (click)="Edit()" type="button" class="btnSubmit">Edit</button> 
                
    
                    <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
                    </div>
                
                </form>
            </div>
        </div>
        </div>
        </div>
        
    </div> -->

 <!-- <div class="container">
    <table class="table table-bordered">
        
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>CompanyName</th>
            <th>GSTIN</th>
            <th>PostalAddress</th>
            <th>Website</th>
            <th>Emailid</th>
            <th>ContactNumber</th>
            <th>BriefAboutCompany</th>
        </tr>
        <tr *ngFor="let seller of list">
            <td>{{seller.Username}}</td>
            <td>{{seller.Password}}</td>
            <td>{{seller.CompanyName}}</td>
            <td>{{seller.GSTIN}}</td>
            <td>{{seller.PostalAddress}}</td> 
            <td>{{seller.Website}}</td>
            <td>{{seller.Emailid}}</td>
            <td>{{seller.ContactNumber}}</td>
            <td>{{seller.BriefAboutCompany}}</td>

        </tr>
        
    </table>
</div>  -->