

                        
<form [formGroup]="Sellerform" >
    <div class="container register-form" id="form" style="float: right;margin-top:90px;margin-right:130px;">
        <div class="Sellerform">
                          <div class="card">
             <div clasd="col-md-6 offset-4" > <h2>SignUp</h2></div>    
                    <div class="col-md-6 offset-4">
                        <div class="form-group">
    <label>SellerId</label>
    <input type="text" formControlName="sellerid" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.sellerrid.errors }" />
    <div *ngIf="submitted && f.sellerid.errors" class="invalid-feedback">
    <div *ngIf="f.sellerid.errors.required">id is required</div>
    <div *ngIf="f.sellerid.errors.pattern">Enter valid id ex:B445</div>
    </div>
    </div>
                    </div>
                    <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>username</label>
    <input type="text" formControlName="Username" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.Username.errors }"/>
    <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
    <div *ngIf="f.Username.errors.required">username is required</div>
    <div *ngIf="f.Username.errors.pattern">Enter only Alphabets</div>
    </div>
    
    </div>
    </div>
    <div class="col-md-6 offset-4">
    <div class="form-group">
    <label>Password</label>
    <input type="password" formControlName="Password" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"/>
    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
    <div *ngIf="f.Password.errors.required">password is required</div>
    <div *ngIf="f.Password.errors.pattern">password must be valid</div>
    </div>
    </div>
    </div>
    <!-- <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>Emailid</label>
    <input type="email" formControlName="Emailid" class="form-control"  value="" [ngClass]="{ 'is-invalid':submitted && f.Emailid.errors }"/>
    <div *ngIf="submitted && f.Emailid.errors" class="invalid-feedback">
    <div *ngIf="f.Emailid.errors.required">Emailid is required</div>
   
    </div>
    </div>
    
    </div> -->
    <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>mobilenumber</label>
    <input type="text" formControlName="ContactNumber" class="form-control" value="" [ngClass]="{ 'is-invalid': submitted && f.ContactNumber.errors }"/>
    <div *ngIf="submitted && f.ContactNumber.errors" class="invalid-feedback">
    <div *ngIf="f.ContactNumber.errors.required">mobilenumber is required</div>
    <div *ngIf="f.ContactNumber.errors.pattern">mobilenumber must be valid</div>
    </div>
    </div>
    
    </div>
    <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>COMPANYNMAE</label>
    <input type="text" formControlName="Companyname" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.Companyname.errors }"/>
    <div *ngIf="submitted && f.Companyname.errors" class="invalid-feedback">
    <div *ngIf="f.Companyname.errors.required">companyname is required</div>
    <div *ngIf="f.Companyname.errors.pattern">companyname must be valid</div>
    </div>
    </div>
    </div>
 <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>breifaboutcompany</label>
    <input type="text" formControlName="BreifAboutcompany" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.BreifAboutcompany.errors }"/>
    <div *ngIf="submitted && f.BreifAboutcompany.errors" class="invalid-feedback">
    <div *ngIf="f.Breifaboutcompany.errors.required">breifaboutcompany is required</div>
    <div *ngIf="f.Breifaboutcompany.errors.pattern">breifaboutcompany must be valid</div>
    </div>
    </div>
 </div>
 <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>postaladdress</label>
    <input type="text" formControlName="PostalAddress" class="form-control"  value="" [ngClass]="{'is-invalid': submitted && f.PostalAddress.errors }"/>
    <div *ngIf="submitted && f.PostalAddress.errors" class="invalid-feedback">
    <div *ngIf="f.PostalAddress.errors.required">postaladdress is required</div>
    <div *ngIf="f.PostalAddress.errors.pattern">postal addresss must be valid</div>
    </div>
    </div></div>
 <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>gstin</label>
    <input type="text" formControlName="Gstin" class="form-control"  value="" [ngClass]="{'is-invalid': submitted && f.Gstin.errors }"/>
    <div *ngIf="submitted && f.Gstin.errors" class="invalid-feedback">
    <div *ngIf="f.Gstin.errors.required">gstin is required</div>
    
    </div>
    </div></div>
 <div class="col-md-6 offset-4">
    <div class="form-group">
        <label>website</label>
    <input type="text" formControlName="Website" class="form-control"  value="" [ngClass]="{ 'is-invalid': submitted && f.Website.errors }"/>
    <div *ngIf="submitted && f.Website.errors" class="invalid-feedback">
    <div *ngIf="f.Website.errors.required">website is required</div>
    
    </div>
    </div>
    
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="myProfile()" data-target="#exampleModalCenter">EditProfile</button>
                        
    </div>
            <!-- <button class="btn btn-primary mr-1"  (click)="Edit()">Edit</button> -->
            </div>
    </div>
    </div>  
    
</form>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="Sellerform"> 
    <div class="form-group">
    <label>UserName</label>
    <input type="text" formControlName="Username"  class="form-control"/>
    </div>
   
    <div class="form-group">
    <label>Password</label>
    <input type="text" formControlName="Password"  class="form-control"/>
    </div>
    <div class="form-group">
    <label>Mobile</label>
    <input type="text" formControlName="mobileno"  class="form-control"/>
    </div>
    <div class="form-group">
    <label>EmailID</label>
    <input type="text" formControlName="Emailid"  class="form-control"/>
    </div>
    <div class="form-group">
    <label>CompanyName</label>
    <input type="text" formControlName="Companyname" class="form-control"/>
    </div>
<div class="form-group">
    <label>BREIFABOUTCompany</label>
    <input type="text" formControlName="Breifaboutcompany" class="form-control"/>
    </div>
<div class="form-group">
    <label>WEBSITE</label>
    <input type="text" formControlName="Website" class="form-control"/>
    </div>
<div class="form-group">
    <label>GSTIN</label>
    <input type="text" formControlName="Gstin" class="form-control"/>
    </div>
<div class="form-group">
    <label>POSTALADDRESS</label>
    <input type="text" formControlName="PostalAddress" class="form-control"/>
    </div>
   
    </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" (click)="Edit()">Save changes</button>
    </div>
    </div>
    </div>
    </div> 