       <br>
            <div class="container">
                <div class="col-md-5">  
                    <div class="input-group add-on">
                      <input class="form-control" placeholder="Search" type="search" [(ngModel)]="itemname">
                        <button class="btn btn-default"type="submit"(click)="Search(itemname)"><button class="btn btn-primary mr-1">Search</button><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                    </div>
  <!-- <div class="card"> -->
     
    <!-- <div class="text-center"><h2>Item Details</h2></div>
    <div class="card-deck">
    <div class="card-body"*ngFor="let item of list"> -->
      <!-- <div class="container">
        <div class="row offset-4">
          
        <table class="table table-border"class="text-center">
          <li *ngFor="let item of list">
            <img src="/assets/Images/{{item.image1}}" >
          <tr>
            <th>ItemName</th>
            <td>{{item.itemName}}</td>
           
          </tr>
             <tr>
            <th>Price:</th>
            <td>{{item.price}}</td>
     </tr> 
      <tr>
     <th> Description:</th>
      <td>{{item.description}}</td>
      </tr>
      <tr>
      <th>Stock:</th>
      <td>{{item.stockNumber}}</td></tr>
      <tr>
     <th> Remarks:</th>
      <td>{{item.remarks}}</td></tr>
      
      </li>
      </table>

        </div>
      </div>
   
       
            <button class="btn btn-primary mr-1">Buy</button>
            <button class="btn btn-success mr-1">Add to cart</button>
      
             -->
             <div class="container">
              <div class="row offset-2">
                <div class="card-deck ">
                    <div class="card text-center" *ngFor="let item of list" style="width: 18rem;" >
                    <img class="card-img-top" src="/assets/Images/{{item.photo}}" alt="no image is there to show"> 
                        <h5 class="card-title">{{item.itemName}}</h5>
                        <div class="card-body">
                          <!-- ItemId:{{item.iid}}<br/>
                          CategoryId:{{item.cid}}<br/>
                          SubCategoryId:{{item.scid}}<br/>
                          SellerId: {{item.sid}}<br/> -->
                          Price: {{item.price}}<br/>
                          Description:{{item.description}}<br/>
                          Stock:{{item.stockNumber}}<br/>
                          Remarks:{{item.remarks}} 
                      </div>
                      <div class="card-footer">
                        <div class="text-center">
                          <button class="btn btn-success mr-1"(click)="BuyItem(item)">Buy</button>
                          <button class="btn btn-outline-info" (click)="AddtoCart(item)" >AddToCart</button>
                      </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
           
  
  