
<div class ="bg-img">
    <div class="container">
    <div class="card bg-light mb-3" >
        <h5 class="card-header text-center">Add category</h5>
        <div class="card-body">
            <div class="bg2">
            <form [formGroup]="AddCategoryForm" (ngSubmit)="onSubmit()">
                <div class="form-group col-md-3 offset-4">
                    <label>CategoryID</label>
                    <input type="text" formControlName="categoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryid.errors }" />
                    <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
                    <div *ngIf="f.categoryid.errors.required">Category id is required</div> 
                    </div>        
                </div>
                <!-- <div class="form-group col-md-3 offset-4">
                    <label>CategoryName</label>
                    <input type="text" formControlName="CategoryName" class="form-control" [ngClass]="{ 'is-invalid':submitted && f.CategoryName.errors }" />
                    <div *ngIf="submitted && f.CategoryName.errors" class="invalid-feedback">
                    <div *ngIf="f.CategoryName.errors.required">Category id is required</div> 
                    </div>        
                </div> -->
               <div class="form-group col-md-5 offset-4">
                <label>CategoryName:</label>
                <select formControlName="categoryname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryname.errors }">
                    <option value=""></option>
                    <option value="Clothes">Clothes</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Accessories">Accessories</option>
                    <option value="Grocery">Grocery</option>
                </select>
                <div *ngIf="submitted && f.categoryname.errors" class="invalid-feedback">
                    <div *ngIf="f.categoryname.errors.required">categoryname is required</div>
                </div>
            </div>  
            
                    <!-- <div class="form-group col-md-5 offset-4">
                        <label>CategoryName</label>
                        <div  [ngClass]="{'is-invalid': submitted && f.CategoryName.errors}">
                        <select>
                            <option value=""></option>
                            <option  value="Electronics">Electronics</option>
                            <option value="Fashion">Fashion</option>
                            <option value="Furniture">Furniture</option>
                        </select>
                        <div *ngIf="submitted && f.CategoryName.errors" class="invalid-feedback">
                            <div *ngIf="f.CategoryName.errors.required">CategoryName  is required</div> 
</div>
                    
                    </div></div> -->
                        <div class="form-group col-md-5 offset-4">
                            <label>BreifDetails</label>
                            <textarea type="text" formControlName="breifdetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.breifdetails.errors }"></textarea>
                            <div *ngIf="submitted && f.breifdetails.errors" class="invalid-feedback">
                            <div *ngIf="f.breifdetails.errors.required">BreifDetails is required</div> 
                             <div *ngIf="f.breifdetails.errors.pattern">Breif Details must be valid</div> 
                            </div>        
                        </div>
                        <div class="form-group form-check col-md-5 offset-5">
                            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                        </div>
                    
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Add</button>
                        <button class="btn btn-danger" type="reset" (click)="onReset()">RESET</button>
                    </div>
                        </form>
                        </div>
                        </div>
                        </div>        
                    </div>
                    </div>
                
