
<div class ="bg-img">
    <div class="container">
    <div class="card bg-light mb-3" >
        <h5 class="card-header text-center">Add category</h5>
        <div class="card-body">
            <form [formGroup]="AddCategoryForm" (ngSubmit)="onSubmit()">
                       <div class="form-group col-md-3 offset-4">
                        <label>CategoryID</label>
                        <input type="number" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
                        <div *ngIf="submitted && f.category_id.errors" class="invalid-feedback">
                        <div *ngIf="f.category_id.errors.required">Category id id is required</div> 
                        </div>        
                    </div>
                    <div class="form-group col-md-5 offset-4">
                        <label>CategoryName</label>
                        <input type="text" formControlName="category_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category_name.errors }" />
                        <div *ngIf="submitted && f.category_name.errors" class="invalid-feedback">
                        <div *ngIf="f.category_category_name.errors.required">CategoryName  is required</div> 
                        <div *ngIf="f.category_category_name.errors.required.pattern">CategoryName must be valid</div> 
                        </div>
                    </div>
                        <div class="form-group col-md-5 offset-4">
                            <label>BreifDetails</label>
                            <input type="number" formControlName="breif_details" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.breif_details.errors }" />
                            <div *ngIf="submitted && f.breif_details.errors" class="invalid-feedback">
                            <div *ngIf="f.breif_details.errors.required">BreifDetails id is required</div> 
                            <div *ngIf="f.breif_details.errors.required.pattern">Breif Details must be valid</div>
                            </div>        
                        </div>
                        <div class="form-group form-check col-md-5 offset-5">
                            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                        </div>
                    
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Add</button>
                        <button class="btn btn-danger" type="reset" (click)="onReset()">Cancel</button>
                    </div>




                        </form>
                        </div>
                        </div>
                        </div>        
                    </div>
                
