<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->

<!-- </head>
<body> -->

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light  bg-dark">

        <div class="col" id="navbarText">
            <ul class="nav row nav-pills ">

                <li class="col-sm-1 nav-item text-center">
                    <a class="nav-link btn-outline-primary" href="#">Home </a>
                </li>
                
    <!-- <div class="topnav"> -->
        <!-- <a class="active" href="#home">Home</a> -->
    <li class="col-sm-2 nav-item text-center">
        <a class="nav-link btn-outline-primary" href="/seller/seller-landingpage" >SellerLandingPage</a>
            <!-- <a [routerLink]="['/buyer/buyer-landingpage']" >BuyerLandingPage</a> -->
</li>
<li class="col-sm-1 nav-item text-center">
    <a class="nav-link btn-outline-primary" href="/seller/add-items" >Additems</a>
        <!-- <a [routerLink]="['/buyer/buyer-landingpage']" >BuyerLandingPage</a> -->
</li>
<li class="col-sm-2 nav-item text-center">
    <a class="nav-link btn-outline-primary" href="/seller/viewitems" >ViewItems</a>
        <!-- <a [routerLink]="['/buyer/buyer-landingpage']" >BuyerLandingPage</a> -->
</li>
<li class="col-sm-2 nav-item text-center">
    <a class="nav-link btn-outline-primary" href="/seller/viewprofile" >viewprofile</a>
        <!-- <a [routerLink]="['/buyer/buyer-landingpage']" >BuyerLandingPage</a> -->
</li>
<li class="col-sm-2 nav-item text-center">
    <a class="nav-link btn-outline-primary" href="/seller/viewreports" >ViewReports</a>
        <!-- <a [routerLink]="['/buyer/buyer-landingpage']" >BuyerLandingPage</a> -->
</li>

     <!-- <div><a [routerLink]="['/buyer/buy-product']" >BuyProduct</a>
    </div>
    <div><a [routerLink]="['/buyer/search']" >Search</a>
    </div>
    <div><a [routerLink]="['/buyer/viewcart']" >ViewCart</a>
    </div>
    <div><a [routerLink]="['/buyer/viewbuyer-profile']" >ViewBuyerProfile</a>
    </div> -->
    <!-- <div><a [routerLink]="['/buyer/viewcart']" >ViewCart</a> -->
       <li class="col-sm-1 nav-item text-center">
        <input type="text" placeholder="Search.."></li>
    <!-- </div> -->
    
    </ul>
</div> </nav>
        </div> 
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
    



<!-- <div class="container-fluid">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
    <div><a [routerLink]="['/seller/seller-landingpage']" >SellerLandingPage</a>
    </div>
    <div><a [routerLink]="['/seller/add-items']" >AddItems</a>
    </div>
    <div><a [routerLink]="['/seller/view-items']" >ViewItems</a>
    </div>
    <div><a [routerLink]="['/seller/view-profile']" >ViewProfile</a>
    </div>
    <div><a [routerLink]="['/seller/view-reports']" >ViewReports</a>
    </div>
        <input type="text" placeholder="Search..">
    </div>
    <div> 
        </div> <router-outlet></router-outlet> -->

        