.bg{
    background-color: #80ced6;
  }



.image{


    background-image: url('src\assets\Images\bg.jpg');
    
        position:static; 
        top: 0; 
        left: 0; 
          
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 800px;
      
    
    background-repeat: no-repeat;
    background-size: cover; 
}
