<div class ="bg-img">
    <div class="container">
    <div class="card bg-light mb-3" >
        <h5 class="card-header text-center">Add Subcategory</h5>
        <div class="card-body">
            <div class="bg2">
            <form [formGroup]="AddSubCategoryForm" (ngSubmit)="onSubmit()">
                       <div class="form-group col-md-3 offset-4">
                        <label>CategoryID</label>
                        <input type="text" formControlName="CategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CategoryId.errors }" />
                        <div *ngIf="submitted && f.CategoryId.errors" class="invalid-feedback">
                        <div *ngIf="f.CategoryId.errors.required">Category id is required</div> 
                        </div>        
                    </div>
                    <div class="form-group col-md-3 offset-4">
                        <label>SubCategoryID</label>
                        <input type="text" formControlName="SubCategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SubCategoryId.errors }" />
                        <div *ngIf="submitted && f.SubCategoryId.errors" class="invalid-feedback">
                        <div *ngIf="f.SubCategoryId.errors.required">SubCategory id is required</div> 
                        </div>        
                    </div>
                    <div class="form-group col-md-5 offset-4">
                        <label>SubCategoryName</label>
                        <input type="text" formControlName="SubCategoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SubCategoryName.errors }" />
                        <div *ngIf="submitted && f.SubCategoryName.errors" class="invalid-feedback">
                        <div *ngIf="f.SubCategoryName.errors.required">SubCategoryName  is required</div> 
                        <!-- <div *ngIf="f.categoryname.errors.required.pattern">CategoryName must be valid</div>  -->
                        </div>
                    </div>
                    <div class="form-group col-md-3 offset-4">
                        <label>GST</label>
                        <input type="number" formControlName="Gst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gst.errors }" />
                        <div *ngIf="submitted && f.Gst.errors" class="invalid-feedback">
                        <div *ngIf="f.Gst.errors.required">GST is required</div> 
                        </div>        
                    </div>
                        <div class="form-group col-md-5 offset-4">
                            <label>BreifDetails</label>
                            <input type="text" formControlName="BreifDetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.BreifDetails.errors }" />
                            <div *ngIf="submitted && f.BreifDetails.errors" class="invalid-feedback">
                            <div *ngIf="f.BreifDetails.errors.required">BreifDetails id is required</div> 
                             <div *ngIf="f.BreifDetails.errors.required.pattern">Breif Details must be valid</div> 
                            </div>        
                        </div>
                        <div class="form-group form-check col-md-5 offset-5">
                            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                        </div>
                    
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Add</button>
                        <button class="btn btn-danger" type="reset" (click)="onReset()">RESET</button>
                    </div>
                        </form>
                        </div>
                        </div>
                        </div>        
                    </div>
                    </div>
                

