<div class ="bg-img">
    <div class="container">
    <div class="card bg-light mb-3" >
        <h5 class="card-header text-center">Add Subcategory</h5>
        <div class="card-body">
            <div class="bg2">
            <form [formGroup]="AddSubCategoryForm" (ngSubmit)="onSubmit()">
                       <div class="form-group col-md-3 offset-4">
                        <label>CategoryID</label>
                        <input type="text" formControlName="categoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryid.errors }" />
                        <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
                        <div *ngIf="f.categoryid.errors.required">Category id is required</div> 
                        </div>        
                    </div>
                    <!-- <div class="form-group col-md-3 offset-4">
                        <label>SubCategoryID</label>
                        <input type="text" formControlName="SubCategoryId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SubCategoryId.errors }" />
                        <div *ngIf="submitted && f.SubCategoryId.errors" class="invalid-feedback">
                        <div *ngIf="f.SubCategoryId.errors.required">SubCategory id is required</div> 
                        </div>        
                    </div> 
                     <div class="form-group col-md-5 offset-4">
                        <label>SubCategoryName</label>
                        <input type="text" formControlName="SubCategoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.SubCategoryName.errors }" />
                        <div *ngIf="submitted && f.SubCategoryName.errors" class="invalid-feedback">
                        <div *ngIf="f.SubCategoryName.errors.required">SubCategoryName  is required</div> 
                        < <div *ngIf="f.categoryname.errors.required.pattern">CategoryName must be valid</div>  --> 
                        <!-- </div>
                    </div> -->
                    <div class="form-group col-md-3 offset-4">
                        <label>SubCategoryID</label>
                        <input type="text" formControlName="subcategoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryid.errors }" />
                        <div *ngIf="submitted && f.subcategoryid.errors" class="invalid-feedback">
                        <div *ngIf="f.subcategoryid.errors.required">SubCategory id is required</div> 
                        </div>        
                    </div> 
                    <div class="form-group col-md-5 offset-4">
                        <label>SubCategoryName:</label>
                        <select formControlName="subcategoryname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryname.errors }">
                            <option value=""></option>
                            <option value="WomensClothes">WomensClothing</option>
                            <option value="mensClothes">mensClothing</option>
                            <option value="mobiles">Mobiles</option>
                            <option value="Tv">Tv</option>
                            <option value="womenswatches">womenswatches</option>
                            <option  value="menswatches">mensWatches</option>
                            <option value="oil">oil</option>
                            <option value="onions">Onions</option>
                        </select>
                        <div *ngIf="submitted && f.subcategoryname.errors" class="invalid-feedback">
                            <div *ngIf="f.subcategoryname.errors.required">subcategoryname is required</div>
                        </div>
                    </div>  
                    
                   
                    <div class="form-group col-md-5 offset-4">
                        <label>CategoryName:</label>
                        <select formControlName="categoryname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }">
                            <option *ngFor="let cat of list" [value]="cat.cid">{{cat.categoryName}}</option>
                        </select>
                        <div *ngIf="submitted && f.categoryname.errors" class="invalid-feedback">
                            <div *ngIf="f.categoryname.errors.required">categoryname is required</div>
                        </div>
                    </div>
                   
                    <div class="form-group col-md-3 offset-4">
                        <label>GST</label>
                        <input type="number" formControlName="gst" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gst.errors }" />
                        <div *ngIf="submitted && f.gst.errors" class="invalid-feedback">
                        <div *ngIf="f.gst.errors.required">GST is required</div> 
                        </div>        
                    </div>
                        <div class="form-group col-md-5 offset-4">
                            <label>BreifDetails</label>
                            <input type="text" formControlName="breifdetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.breifdetails.errors }" />
                            <div *ngIf="submitted && f.breifDetails.errors" class="invalid-feedback">
                            <div *ngIf="f.breifDetails.errors.required">BreifDetails id is required</div> 
                             <div *ngIf="f.breifDetails.errors.pattern">Breif Details must be valid</div> 
                            </div>        
                        </div>
                        <div class="form-group form-check col-md-5 offset-5">
                            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                        </div>
                    
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Add</button>
                        <button class="btn btn-danger" type="reset" (click)="onReset()">RESET</button>
                    </div>
                        </form>
                        </div>
                        </div>
                        </div>        
                    </div>
                    </div>
                

